@import "config";
body {
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
  a{
    text-decoration: none;
  }
}
h1, h2, h3, h4, h5,p{
    margin: 0;
}
h1{
  font-weight: 800;
}
.app {
  width: 95vw;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 20px;
  .nav-img {
    max-width: 100px;
  }
  .nav-ul-big {
    list-style: none;
    display: flex;
    z-index: 4;
    padding: 1rem 0;
    margin: 0;
    background-color: $Primary-color;
    li {
     margin: 0 10px;
     a {
      color: $Secondary-color;
    }
      &:hover {
        border-bottom: 2px solid $Secondary-color;
        @include easeOut
      }
      
    }
  }
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    .bar {
      width: 30px;
      height: 3px;
      background-color: $black-color;
      margin: 3px 0;
      transition: transform 0.4s;
    }
  }
  
  
}


  .display-image-inner{
    padding-top: 2rem;
    background-size: cover;
    text-align: center;
    background-position: center;
    background-image: url("./images/garrett-jackson-oOnJWBMlb5A-unsplash.jpg");
   min-height: 70vh;
    object-fit: cover;
  div:first-child{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    width: 80%;
  h1 {
    margin: 0;
    font-weight: 700;
  }
  // .intro-text-divs{
  //   background: linear-gradient(to right, $Primary-color, #fff);
  //   padding: 2rem;
  //   color: inherit;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 30%;
  //   border-radius: 10px;
  //   h1{
  //     padding-bottom: 1rem;
  //   }
  //   p{
  //     max-width: 30ch;
  //   }
  // }
  }
}

  


  .about-us{
    background-color: $Primary-color;
    padding:2rem 0 ;
    text-align: center;
    .main-inner{
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
   
    .bee-qualities{
      display: grid;
      line-height: 1.5rem;
      padding-top: 2rem;
      gap: 1rem;
      margin: 0 auto;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-areas: "about1 about2 about3 about4";
      h1{
        grid-area: h1;
      }
      div:first-child{
        grid-area: about1;
      }
      div:nth-child(2){
        grid-area: about2;
      }
      div:nth-child(3){
        grid-area: about3;
      }
      div:nth-child(4){
        grid-area: about4;
      }

      div{
        background: $Secondary-color;
        display: flex;
        padding: 1rem;
        border-radius: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          max-width: 50px;
        }
        h3{
          padding-top: 1rem;
        }
        p{
          max-width: 30ch;
          padding: 1rem 0;
        }
        a{
          color:  $Primary-color;
        }
      }
    }
  }
}
.story{
  .our-story{
    display: grid;
    padding: 1.5rem 0;
    background-color: $Secondary-color;
    grid-template-columns: repeat(2,minmax(0, 1fr));
    grid-template-areas: "intendingPic intending" " surrogates  surrogatesPic";
    gap: 1rem;
    div:first-child{
      justify-self: center;
      align-self: center;
      background-color: $Primary-color;
      padding:1.5rem ;
      box-shadow: 5px 10px #000;
      grid-area: intending;
      @include btn
    }
    div:nth-child(2){
      display: flex;
      grid-area: intendingPic;
    }
    div:nth-child(3){
      justify-self: center;
      align-self: center;
      padding:1.5rem ;
      grid-area: surrogates;
      box-shadow: 5px 10px #000;
      background-color: $Primary-color;
      @include btn
    }
    div:nth-child(4){
      display: flex;
      grid-area: surrogatesPic;
    }
    div{
      line-height: 2rem;
      img{
        max-width: 100%;
        height: auto; /* Ensure the image doesn't overflow its container */
  object-fit: cover;
      }
      p{
font-size: 1rem;
      }
    }
   
}
}

// About

.about-main{
  .about-bee-heading{
   @include heading()
  }
  
  @include details("display-about-inner", url("./images/Pregnant-Lady.jpg"));
  .Our-Services{
    background-color: $Primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,p{
      text-align: center;
      max-width: 100ch;
      line-height: 2rem;
    }
    .our-services-details{
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      ul{
        background-color:lighten($Secondary-color, 10);
        padding: 2rem;
        li{
          padding: 1rem 0;
          line-height: 1.7rem;
        }
      }
    }
  }
  .for_Intending-parents{
    background-color: lighten($Secondary-color, 10);
   padding: 0 1rem 1rem;
   p{
    line-height: 2rem;
   }
  }
}

// Privacy


.privacy-main{
  line-height: 1.5rem;
  .bee-privacy-heading{
   @include heading()
  }
  
  
  @include details("bee-privacy-inner", url("./images/Privacy.jpg"));

}

// Footer

footer{
  color: $Secondary-color;
  text-align: center;
  background-color: $Primary-color;
  div{
    padding: 1rem 0;
    a{
      color: inherit;
      padding: 0.5rem;
      i{
        font-size: 1.5rem;
      }
      :hover{
        color: $black-color;
      }
    }
  }
}
//Whatsapp Logo
.whatsapp{
  width: 50px;
  position: fixed;
  bottom: 20px; 
  right: 3%;
  z-index: 10;
  a{
    img{
      width: 100%;
    }
  
  }
}


@media (max-width: 768px) {
    .header-links{
        width: 97%;
    }
  main{
   
    .display-image-inner{
      .header-inner{
        width: 97%;
      }
    }
  }
  .about-us{
    .main-inner{
      .bee-qualities{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: "about1 about2" "about3 about4";
    
    }
    }
  }
  .story{
  .our-story{
  grid-template-columns: 1fr;
  grid-template-areas: "intending" "intendingPic" "surrogates"  "surrogatesPic";
  }
}
  .about-main{ .display-about-inner{ .about-header-details{
    grid-template-columns: 1fr;
  } }
  .Our-Services{ .our-services-details {
    grid-template-columns: 1fr;
  }}
  }
  .privacy-main{ .bee-privacy-inner{
     .bee-privacy-details {
      grid-template-columns: 1fr;
     }
    }
  }
}
@media(max-width: 600px){
  main{
    
    .display-image-inner{
      .header-inner{
       flex-direction: column;
       .intro-text-divs{
        width: 80%;
       }
      }
    }
  }
 .about-us{
  .main-inner{

  
  .bee-qualities{
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-areas: "about1" "about2" "about3" "about4";
  }
}
 }
}

@media(max-width: 550px){
  nav{
    .nav-ul-big{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   &.active {
      display: flex;
      position: absolute;
      height: 30vh;
      width: 50%;
      font-size: 1.2rem;
      padding: 2rem 0;
      right: 2px;
      top: 80px;
      @include comeFromRight;
      transform: perspective(370px) scaleZ(5) rotate(17deg);
      @include easeOut;
      animation: comeFromRight 1s forwards;
    }
  
}
.menu-icon {
  display: flex;

  &.active {
    .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}
}

}


